@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

$primary-font: 'Helvetica Neue', sans-serif;
$secondary-font: 'Inter Tight', sans-serif;

$primary-color: #ffffff;
$secondary-color: #000000;
$green: rgb(0, 255, 13);
$border-color: rgba(255, 255, 255, 0.568);
